In [106]:
import requests
import pandas as pd
import sqlite3 as sql3
from bs4 import BeautifulSoup

In [99]:
url = 'https://webscraper.io/test-sites/e-commerce/allinone'
req = requests.get(url)
name_product = []
desc_product = []

In [100]:
soup = BeautifulSoup(req.content, 'html.parser')

data_product = soup.find_all('div', class_= 'caption')

for item in data_product:
    names = item.find_all('a', class_='title')
    descriptions = item.find_all('p', class_='description')
    for name in names:
        name_product.append(name.next_element)
    for desc in descriptions:
        desc_product.append(desc.next_element)

In [103]:
df = pd.DataFrame({'Nome do Produto': name_product,
                  'Descrição do Produto': desc_product})

In [104]:
df

       Nome do Produto                               Descrição do Produto
0  Prestigio SmartB...  Prestigio SmartBook 133S Gold, 13.3" FHD IPS, ...
1         Galaxy Tab 4        LTE (SM-T235), Quad-Core 1.2GHz, 8GB, Black
2       MSI GL72M 7RDX  Asus ROG Strix GL553VD-DM535T, 15.6" FHD, Core...

In [120]:
con = sql3.connect('product.db')
cur = con.cursor()

In [121]:
script = "CREATE TABLE IF NOT EXISTS product( \
            id INTEGER AUTO_INCREMENT, \
            name TEXT NOT NULL, \
            description TEXT, \
            PRIMARY KEY (id));"
cur.execute(script)
con.commit()

In [122]:
i = 0
while i < len(name_product):
    script = "INSERT INTO product VALUES (?, ?, ?)"
    cur.execute(script, (i, name_product[i], desc_product[i]))
    con.commit()
    i += 1