In [1]:
import pandas as pd

In [2]:
a = pd.DataFrame({'key': [1,2,3,4], 
                    'name': ['gui', 'ana', 'john', 'mike'],
                    'age': [10, 20, 34, 44]})

In [15]:
a.head()

   key  name  age
0    1   gui   10
1    2   ana   20
2    3  john   34
3    4  mike   44

In [4]:
b = pd.DataFrame({'key': [1,2,3,4], 
                 'stage': [1, 23, 3, 4]})

In [5]:
b.head()

   key  stage
0    1      1
1    2     23
2    3      3
3    4      4

In [7]:
c = pd.DataFrame({'key': [1,2,3,4], 'save': [True, True, False, False]})

In [8]:
c

   key   save
0    1   True
1    2   True
2    3  False
3    4  False

In [11]:
d = pd.merge(pd.merge(a,b, on='key', how='outer'), c, on='key', how='outer')

In [12]:
d

   key  name  age  stage   save
0    1   gui   10      1   True
1    2   ana   20     23   True
2    3  john   34      3  False
3    4  mike   44      4  False