In [26]:
import pandas as pd

In [181]:
df = pd.read_csv('datasets/LeagueofLegends.csv', usecols=['golddiff', 'goldblue', 'goldred', 'bResult', 'rResult', 'bDragons', 'rDragons'])

In [50]:
df.head()

,bResult,rResult,golddiff,goldblue,bDragons,goldred,rDragons
0,1,0,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...","[2415, 2415, 2711, 3887, 5068, 6171, 7412, 866...","[[37.267, None]]","[2415, 2415, 2725, 3952, 5336, 6602, 7900, 945...","[[17.14, None], [30.934, None], [24.641, None]]"
1,0,1,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...","[2415, 2415, 2705, 4108, 5511, 6797, 7637, 895...","[[32.545, None], [26.177, None], [19.119, None]]","[2415, 2415, 2731, 4126, 5364, 6560, 7789, 893...","[[12.264, None]]"
2,1,0,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...","[2415, 2415, 2726, 3794, 4933, 6236, 8109, 965...","[[24.577, None], [37.867, None], [30.87, None]...","[2415, 2415, 2716, 3854, 4899, 6199, 7520, 859...",[]
3,0,1,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...","[2415, 2415, 2705, 3847, 5398, 6473, 7720, 930...",[],"[2415, 2415, 2720, 3822, 5170, 6479, 7963, 913...","[[26.274, None], [10.153, None], [18.515, None..."
4,1,0,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...","[2415, 2415, 2710, 3950, 5404, 6666, 7887, 913...","[[14.589, None], [30.307, None]]","[2375, 2375, 2666, 3986, 5291, 6508, 8008, 932...","[[21.901, None]]"

In [155]:
dragons = []
for time in range(df.shape[0] - 400):
    a = [time for time in [raw.strip(' []').replace('_', '') for raw in df['bDragons'][time].split(',')] if not time.isalpha()]
    for x in a:
        if not x.isalpha():
            dragons.append(len(a))

In [182]:
df['goldBlue15min'] = df['goldblue'].apply(lambda x: x.split(', ')[16])
df['blueDragons'] = df['bDragons'].apply(lambda x: round((len(x.split(',')) / 2)))
df['goldRed15min'] = df['goldred'].apply(lambda x: x.split(', ')[16])
df['redDragons'] = df['rDragons'].apply(lambda x: round((len(x.split(',')) / 2)))
df['goldDiff15min'] = df['golddiff'].apply(lambda x: x.split(', ')[16])
df['winnerSide'] = ['blue' if x == 1 else 'red' for x in df['bResult']]

df.drop(columns=['bResult', 'rResult', 'golddiff', 'goldred', 'goldblue', 'bDragons', 'rDragons'], inplace=True)

In [183]:
df.head()

  goldBlue15min  blueDragons goldRed15min  redDragons goldDiff15min winnerSide
0         22874            1        22634           3           240       blue
1         23855            3        22366           1          1489        red
2         24964            4        21338           0          3626       blue
3         22017            0        21693           4           324        red
4         22906            2        23331           1          -425       blue

In [45]:
gold = pd.read_csv('datasets/gold.csv')

In [47]:
gold[gold['Type'] == 'golddiff'].shape

(7620, 97)